@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #c97f5f;
}

.color-primary {
  color: #c97f5f;
}

.bg-color-primary {
  background-color: #c97f5f;
}

.color-secondary {
  color: #3c3836;
}

.products-container {
  @media (min-width: 1153px) {
    max-width: 90vw;
    margin: 100px auto;
  }
  .filters {
    width: fit-content;
    transition: transform 0.3s linear;

    input {
      cursor: pointer;
    }

    @media (max-width: 1153px) {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-150%);
      background-color: #fff;
      z-index: 999;
    }
  }

  .filter-visible {
    transform: translateX(0);
  }

  .products {
    width: 100%;
    padding: 0 30px;

    @media (min-width: 1153px) {
      padding: 0;
    }
    .filter-btn {
      display: none;
      text-align: right;
      margin-bottom: 50px;

      @media (max-width: 1153px) {
        display: block;
      }
    }
  }
}
