.footer {
  background-image: url("https://risingtheme.com/html/demo-becute/becute/assets/img/banner/banner-fullwidth4.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
